n8n_workflows/AI-Assistant-Basic.json
{
  "name": "AI Assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1240,
        -140
      ],
      "id": "0534e464-ad94-4250-8205-036aec3709bd",
      "name": "When chat message received",
      "webhookId": "340dbd20-ef93-4874-801f-b21e6df4f914"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_oRY6W9KwXdRoVfDsfQYobXle",
          "mode": "list",
          "cachedResultName": "troylarson.com Marketing Assistant"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -600,
        -200
      ],
      "id": "cc969322-46f3-47ed-b413-8b47e119effc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KxityjLfS9aMBDRI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -440,
        20
      ],
      "id": "a2bc1bfe-00c3-4b18-8e54-865c718cb614",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fnB8eYhOicJ3pENl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -600,
        20
      ],
      "id": "50f447d4-2cf4-4922-b800-0535b63ef49b",
      "name": "Calculator"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-assistant",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1240,
        -320
      ],
      "id": "722fb941-ac57-448f-8da9-ca7ecdbb41e3",
      "name": "Webhook",
      "webhookId": "83e2e7ee-6107-4afc-9541-b73f85f292c8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fiWJazIDRm4NeFQH",
          "name": "OpenWebUI Webhook"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ebfdef-c8e2-4c3e-b716-1479d0cc2a73",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "59b7a20f-0626-4861-93e2-015d430c266e",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2942296b-11be-49c7-aa7a-69ed3cd8d5fd",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        -200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "OpenAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4a37623-a13c-48c7-9c35-12dc8f260816",
  "meta": {
    "instanceId": "9854a1dbc97a4dab4c11dd957545de29cfa42256fc983fc546bf3ad71d58276d"
  },
  "id": "ZbwldDIbpXlclrtq",
  "tags": []
}